body {
    font-family: Calibri; /* Семейство шрифтов */ 
    font-size: 11pt; /* Размер основного шрифта в пунктах  */
    background-color: #f0f0f0; /* Цвет фона веб-страницы */
    color: #333; /* Цвет основного текста */ 
    height: 95%;
    width: 95%;
}
div {
    height: 100%;
    line-height: 95vh;
    text-align: center;
}
span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}